.Home{

    /* display: flex;
    align-items: center;
    position: sticky;
    width: auto;
    height: 5rem;
    z-index: 100;
    padding: auto;
    display: flex;
    align-items: center;

    grid-template-columns: repeat( auto-fit, minmax(20rem, 1fr) ); */
}