.Posts{
    background-color: rgb(238, 230, 238);
    display: flex;
    align-items: center;
    position: relative;
    width: auto;


    padding: auto;

}

.Post{
    box-shadow: 0 0.4rem 0.2rem 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2rem;
  /* justify-content: space-between; */
display: flex;

/* width: auto; */
/* width: 90px; */

}
.Post:hover{
    box-shadow: 0 0.5rem 1rem 0rem rgba(0,0,0,0.2);
}
.Post img{
border: 0.01rem solid rgb(5, 5, 5);
    /* max-width: 30rem;
    max-height: 30rem; */
    position: relative;
}
.MoreIcon{


    
    background-color: rgb(206, 189, 189);
}
.Container{
    flex: 1;
    padding: 0.01rem 0.01rem;
    width: auto;

}
.Container button{
    padding: 0rem;
    border: 1rem;
}
.cont{
    justify-content: space-between;
    display: flex;




  




}
.btn{
    padding: 2rem;

}
.btn:hover{
    color: blue;
}