.Posts{

    display: flex;
    align-items: center;
    position: relative;
    width: auto; 
    grid-template-columns: repeat( auto-fit, minmax(2.5rem, 1fr) );
    /* background-color: rgb(235, 164, 235); */
    align-items: center;
    padding: 0.4rem;
    justify-content: space-between;



}

.Post{
    background-color: rgb(255, 255, 255);
    max-width: 30rem;
border-radius: 1rem;

justify-items: center;
  
}
.Post:hover{
    box-shadow: 0 0.9rem 2rem 0rem rgba(149, 164, 250, 0.4);
}
.Post img{
/* border: 0.01rem solid rgb(5, 5, 5); */
min-width: 25rem;
     max-width: 25rem; 
    max-height: 30rem; 
    position: relative; 
margin: 0.2rem;
justify-items: center;
    border-radius: 1rem;
    background-color: rgb(246, 250, 242);


}
.Post img:hover{
    box-shadow: 0 0.9rem 2rem 0rem rgba(243, 127, 243, 0.4);
}
/* .MoreIcon{


    
    background-color: rgb(206, 189, 189);
} */
.Container{

    /* padding: 0.01rem 0.01rem; */

    max-width: 25rem;
    padding: 1rem;
    
    justify-items: center;

}
.Container button{
    padding: 0.1rem;
    border: 0.1rem;
}
.Container p{
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}
.cont{
    justify-content: space-between;
    display: flex;
    max-width: 25rem;

}
.cont h4{
    padding: 1rem;
}


  





.btn{
    padding: 1rem;
    margin-right: 0px;

}
.btn:hover{
    color: blue;
} 