.Form{
    background-color: rgb(237, 237, 252);
    padding: 2rem;
}
.form{
background-color: rgb(223, 197, 247);
padding: 1rem;
justify-content: center;
justify-content: space-between;
}
.textfield{

}
.fromD{
    display: flex;
    padding: 1rem;
}
.fromD h2{
padding: 1rem;
font-size: 1rem;
}
.tag{

    width: 4rem;
}